## Imports.

In [1]:
# imports.
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
# read the the data files.
forest = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/target/Forestarea(%25land_area).csv', skiprows= 3)

mining = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Oresandmetalsexports(%25ofmerchandiseexports).csv', skiprows=3)
livestock = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Livestockproductionindex(2004-2006%3D100).csv', skiprows=3)
agriculture = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Agriculturalland(sq.km).csv', skiprows=3)
population = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/UrbanPopulationTotal.csv', skiprows=3)
gdp = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/GDPpercapitagrowth(annual%20%25).csv', skiprows=3)
electricity = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Electricpowerconsumption(kWhpercapita).csv', skiprows=3)
crops = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Cropproductionindex(2004-2006%3D100).csv', skiprows=3)
food = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DataSets/master/WorldBankDeforestation/features/Foodproductionindex(2004-2006%3D100).csv', skiprows=3)

In [3]:
forest

     Country Name Country Code  ... 2019 Unnamed: 64
0           Aruba          ABW  ...  nan         nan
1     Afghanistan          AFG  ...  nan         nan
2          Angola          AGO  ...  nan         nan
3         Albania          ALB  ...  nan         nan
4         Andorra          AND  ...  nan         nan
..            ...          ...  ...  ...         ...
259        Kosovo          XKX  ...  nan         nan
260   Yemen, Rep.          YEM  ...  nan         nan
261  South Africa          ZAF  ...  nan         nan
262        Zambia          ZMB  ...  nan         nan
263      Zimbabwe          ZWE  ...  nan         nan

[264 rows x 65 columns]

## 1st Wrangle Cleaning.

In [4]:
# 1st wrangle for cleaning.
def wrangle(df):
  df.drop(df.iloc[:, 3:34], inplace=True, axis=1)
  df = df.drop(columns=['2019', 'Unnamed: 64'])
  
  for col in df.select_dtypes(include=np.number):
    df[col] = df[col].fillna(df[col].median())

  df = df.fillna(method='bfill',  axis= 1)
  df = df.fillna(method='ffill', axis= 1)
  year = map(str, range(1990, 2019))
  feature = df.iloc[0][2]
  df = pd.concat([pd.melt(df, id_vars=['Country Code'], value_vars=val, var_name='Year', value_name=feature) for val in year])
  
  return(df)

In [5]:
# wrangle the data.
forest = wrangle(forest)

agriculture = wrangle(agriculture)
electricity = wrangle(electricity)
gdp = wrangle(gdp)
livestock = wrangle(livestock)
mining = wrangle(mining)
population = wrangle(population)
crops = wrangle(crops)
food = wrangle(food)

feature_dfs = [agriculture, gdp, livestock, population, crops, food, mining, electricity]

In [7]:
# merge the data files.
def merge_features(list_dfs):
  train = list_dfs.pop(0)

  for df in list_dfs:
    train = train.merge(df, on=['Country Code', 'Year']) 
    
  return(train)

In [8]:
# merge with forest.
features = merge_features(feature_dfs)
train = features.merge(forest, on=['Country Code', 'Year'])

print(train.shape)
train.head()

(7656, 11)

  Country Code  ... Forest area (% of land area)
0          ABW  ...                         2.33
1          AFG  ...                         2.07
2          AGO  ...                        48.91
3          ALB  ...                        28.79
4          AND  ...                        34.04

[5 rows x 11 columns]

In [22]:
"""# Download the csv.
from google.colab import files
train.to_csv('WorldBank_1990_2018.csv')
files.download('WorldBank_1990_2018.csv')"""

## 2nd Wrangle Predictions Dataframe.

In [9]:
# 2nd wrangle to make predictions data frame.
def predicitons_df(df):
  model = LinearRegression()

  codes = df['Country Code'].unique()
  years = [year for year in range(2019, 2121)]
  rows = []
  feature = df.columns.tolist()[2]
  
  for code in codes:
      dictionary = {'Country Code': code}
      model.fit(df[df['Country Code'] == code][['Year']],
                df[df['Country Code'] == code][feature])
      
      for year in years:
          prediction = model.predict([[year]])
          dictionary[str(year)] = prediction[0]
      rows.append(dictionary)
  df_predictions = pd.DataFrame(rows)
  df_predictions = df_predictions[
      ['Country Code'] + [str(year) for year in years]]
  year = map(str, range(2019, 2121))
  df_predictions = pd.concat([pd.melt(df_predictions, id_vars=['Country Code'], value_vars=val, var_name='Year', value_name=feature) for val in year])

  return(df_predictions)

In [10]:
# wrangle the data.
agriculture_pred = predicitons_df(agriculture)
electricity_pred = predicitons_df(electricity)
gdp_pred = predicitons_df(gdp)
livestock_pred = predicitons_df(livestock)
mining_pred = predicitons_df(mining)
population_pred = predicitons_df(population)
crops_pred = predicitons_df(crops)
food_pred = predicitons_df(food)
forest_pred = predicitons_df(forest)

feature_dfs_pred = [agriculture_pred, gdp_pred, livestock_pred, population_pred, crops_pred, food_pred, mining_pred, electricity_pred]

In [11]:
# merge the data files.
def merge_pred_features(list_dfs_pred):
  test = list_dfs_pred.pop(0)

  for df in list_dfs_pred:
    test = test.merge(df, on=['Country Code', 'Year'])
  return(test)

In [12]:
# merge with forest.
features = merge_pred_features(feature_dfs_pred)
test = features.merge(forest_pred, on=['Country Code', 'Year'])

print(test.shape)
test.head()

(26928, 11)

  Country Code  ... Forest area (% of land area)
0          ABW  ...                         2.33
1          AFG  ...                         2.07
2          AGO  ...                        46.05
3          ALB  ...                        28.14
4          AND  ...                        34.04

[5 rows x 11 columns]

In [27]:
"""# Download the csv file.
from google.colab import files
test.to_csv('WorldBank_2019_2120.csv')
files.download('WorldBank_2019_2120.csv')"""

"# Download the csv file.\nfrom google.colab import files\ntest.to_csv('WorldBank_2019_2120.csv')\nfiles.download('WorldBank_2019_2120.csv')"